<button
  pButton
  type="button"
  [disabled]="disabled"
  [outlined]="variant === 'outline'"
  [severity]="variant === 'outline' ? 'secondary' : undefined"
  [class]="styleClass"
  (click)="onClick($event)"
>
  @if (startIcon) {
    <span class="p-button-icon p-button-icon-left" [innerHTML]="startIcon | safeHtml"></span>
  }
  <span class="p-button-label"><ng-content></ng-content></span>
  @if (endIcon) {
    <span class="p-button-icon p-button-icon-right" [innerHTML]="endIcon | safeHtml"></span>
  }
</button>
