<div class="p-6 space-y-6">
  <h1 class="text-xl font-semibold">Requerimientos</h1>

  <form [formGroup]="form" (ngSubmit)="crear()" class="bg-white rounded-2xl shadow p-4 space-y-3 max-w-2xl dark:bg-gray-900">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">ID Cliente</label>
        <input type="number" formControlName="idCliente" class="w-full border rounded-xl px-3 py-2" />
      </div>
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Contacto</label>
        <input formControlName="contacto" class="w-full border rounded-xl px-3 py-2" />
      </div>
    </div>

    <div>
      <label class="text-xs text-gray-500 dark:text-white/90">Descripción</label>
      <textarea formControlName="descripcion" rows="4" class="w-full border rounded-xl px-3 py-2"></textarea>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Colores</label>
        <input formControlName="colores" class="w-full border rounded-xl px-3 py-2" />
      </div>
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Tallas</label>
        <input formControlName="tallas" class="w-full border rounded-xl px-3 py-2" />
      </div>
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Cantidad</label>
        <input type="number" formControlName="cantidadTotal" class="w-full border rounded-xl px-3 py-2" />
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Fecha requerida</label>
        <input type="date" formControlName="fechaRequerida" class="w-full border rounded-xl px-3 py-2" />
      </div>
      <div>
        <label class="text-xs text-gray-500 dark:text-white/90">Presupuesto objetivo</label>
        <input type="number" formControlName="presupuestoObjetivo" class="w-full border rounded-xl px-3 py-2" />
      </div>
    </div>

    <button [disabled]="form.invalid || loading()" class="rounded-xl px-4 py-2 bg-black text-white disabled:opacity-50">
      {{ loading() ? "Guardando..." : "Crear requerimiento" }}
    </button>

    <div *ngIf="created()" class="text-sm text-green-700">Creado ID: {{ created()!.id }} | Estado: {{ created()!.estado }}</div>
  </form>
</div>


