<app-form-crud titulo="Lista de Cotizaciones de Compra">
  <!-- FILTROS ------------------------------------------------------------ -->
  <div filtros class="text-gray-800 dark:text-white/90">
    <app-form-filter [formGroup]="filtroForm" [(filtros)]="filtros" [mostrarEstado]="false">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <!-- Buscador -->
        <div class="sm:col-span-2 md:col-span-1 flex flex-col">
          <label for="buscador" class="text-md font-medium mt-4 mb-1 text-gray-800 dark:text-white/90">Buscador</label>
          <p-datepicker inputId="buscador" formControlName="buscador" dateFormat="yy-mm-dd" [showIcon]="true" appendTo="body" styleClass="prime-form-input"></p-datepicker>
        </div>

        <!-- Fecha hasta -->
        <div class="self-end flex flex-col">
          <label for="fechaHasta" class="sr-only">Hasta</label>
          <p-datepicker inputId="fechaHasta" formControlName="fechaHasta" dateFormat="yy-mm-dd" [showIcon]="true" appendTo="body" styleClass="prime-form-input"></p-datepicker>
        </div>
      </div>
    </app-form-filter>
  </div>

  <!-- LISTA ------------------------------------------------------------ -->
  <div class="rounded-lg bg-neutral-100 dark:bg-gray-900">
    <app-form-list class="flex flex-col flex-auto p-4" etiquetaAgregar="Crear" (agregarClick)="crear()" nombreExcel="Cotizaciones Compra" [configuracionExcel]="configuracionExcel">
      <app-data-table [urlApi]="urlApi()" [parametrosApi]="filtros()">
        <app-columna-tabla titulo="ID" propiedad="id" />

        <app-columna-tabla titulo="Id Modelo" propiedad="bomId" />
        <app-columna-tabla titulo="Modelo" propiedad="nombre" />

        <app-columna-tabla titulo="Cant. Fabricación" propiedad="cantidadFabricacion">
          <ng-template let-cantidad="valor">
            {{ cantidad | number: "1.0-6" }}
          </ng-template>
        </app-columna-tabla>

        <app-columna-tabla titulo="Total" propiedad="total">
          <ng-template let-total="valor"> S/ {{ total | number: "1.2-2" }} </ng-template>
        </app-columna-tabla>

        <app-columna-tabla titulo="Fecha" propiedad="creadoEn">
          <ng-template let-fecha="valor">
            {{ fecha | date: "dd/MM/yyyy" }}
          </ng-template>
        </app-columna-tabla>

        <app-columna-tabla titulo="Activo" propiedad="activo">
          <ng-template let-activo="valor">
            <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium" [ngClass]="activo ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'">
              {{ activo ? "SI" : "NO" }}
            </span>
          </ng-template>
        </app-columna-tabla>

        <app-accion-tabla (accion)="editar($event.datos)" etiqueta="Editar" icono="edit" />
        <app-accion-tabla (accion)="ver($event.datos)" etiqueta="Ver" icono="visibility" />
        <app-accion-tabla (accion)="anular($event.datos)" etiqueta="Anular" icono="delete" />
      </app-data-table>
    </app-form-list>
  </div>
</app-form-crud>




