<div class="prime-table-wrapper core-data-table" [ngStyle]="ngHeight()">
  <p-table [value]="filasTabla()" styleClass="prime-data-table" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        @if (mostrarColumnaSeleccion() && !paginable()) {
          <th>
            <p-checkbox
              [binary]="true"
              [ngModel]="checkCabeceraSeleccionada()"
              [indeterminate]="checkCabeceraIndeterminado()"
              (onChange)="cambioCheckCabecera($event.checked)"
            ></p-checkbox>
          </th>
        }

        @for (col of columnas(); track $index) {
          <th>{{ col.titulo() }}</th>
        }

        @if (botones().length > 0) {
          <th>Acciones</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-element let-i="rowIndex">
      <tr>
        @if (mostrarColumnaSeleccion() && !paginable()) {
          <td class="px-4 py-2 text-center">
            <p-checkbox
              [binary]="true"
              [ngModel]="seleccion.isSelected(element)"
              (click)="$event.stopPropagation()"
              (onChange)="cambioCheck(element, $event.checked)"
            ></p-checkbox>
          </td>
        }

        @for (col of columnas(); track $index) {
          <td [class]="col.clase() || 'px-4 py-2 text-center text-sm'">
            @if (col.plantilla()) {
              <ng-container
                [ngTemplateOutlet]="col.plantilla()!"
                [ngTemplateOutletContext]="{ valor: element[col.propiedad()], elemento: element }"
              ></ng-container>
            } @else if (col.esEstado()) {
              <p-tag
                [value]="element[col.propiedad()] ? 'Activo' : 'Inactivo'"
                [severity]="element[col.propiedad()] ? 'success' : 'danger'"
              ></p-tag>
            } @else {
              {{ element[col.propiedad()] }}
            }
          </td>
        }

        @if (botones().length > 0) {
          <td class="px-4 py-2 text-center">
            <p-menu #menuAcciones [model]="obtenerItemsAcciones(element, i)" [popup]="true" appendTo="body"></p-menu>
            <p-button
              type="button"
              icon="pi pi-ellipsis-v"
              severity="secondary"
              [text]="true"
              [rounded]="true"
              ariaLabel="Acciones"
              (onClick)="menuAcciones.toggle($event)"
            ></p-button>
          </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columnasAMostrar().length" class="px-4 py-4 text-center italic text-slate-500">
          {{ mensajeTablaVacia() }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

@if (paginable() && totalRegistros() > 0) {
  <div class="mt-4 rounded-2xl bg-white dark:bg-gray-dark shadow-theme-sm px-4 py-2 dark:bg-gray-900">
    <gp-paginator
      [length]="totalRegistros()"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 1000]"
      [pageIndex]="paginaActual()"
      [pageSize]="tamanioPagina()"
      (page)="cambioPagina($event)"
    />
  </div>
}


