<div class="flex flex-col">
  <label class="prime-form-label">Documento de Identidad</label>
  <div class="flex flex-col sm:flex-row items-start gap-2">
    <div class="w-full sm:flex-shrink">
      <p-select [formControl]="tipoDocumentoFormControl" [options]="tiposDocumento()" optionLabel="descripcionCorta" optionValue="idTipo" appendTo="body" styleClass="prime-form-input"></p-select>
      <small class="p-error"> Tipo de documento es requerido </small>
    </div>
    <div class="flex gap-2 w-full sm:flex-grow">
      <div class="flex-grow">
        <input pInputText class="prime-form-input" [formControl]="numeroDocumentoFormControl" />
        <small class="p-error">
          @if (numeroDocumentoFormControl.hasError('required')) { Numero de documento es requerido } @else if ( numeroDocumentoFormControl.hasError('pattern') ) { Documento debe tener solo numeros }
          @else if (tipoDocumentoFormControl.value === TIPO_DNI) { @if ( numeroDocumentoFormControl.hasError('minlength') || numeroDocumentoFormControl.hasError('maxlength') ) { Numero de documento
          debe tener 8 digitos } } @else { @if (numeroDocumentoFormControl.hasError('minlength')) { Numero de documento debe tener al menos
          {{ numeroDocumentoFormControl.getError("minlength").requiredLength }}
          caracteres } @else if ( numeroDocumentoFormControl.hasError('maxlength') ) { Numero de documento no puede tener mas de
          {{ numeroDocumentoFormControl.getError("maxlength").requiredLength }}
          caracteres } }
        </small>
      </div>
      @if (permitirBuscar()) {
      <p-button type="button" icon="pi pi-search" (onClick)="buscarPersona()" styleClass="mt-2"></p-button>
      }
    </div>
  </div>
</div>