<div class="flex flex-col">
  <mat-label>Documento de Identidad</mat-label>
  <div class="flex flex-col sm:flex-row items-start gap-2">
    <mat-form-field class="w-full sm:flex-shrink">
      <mat-select [formControl]="tipoDocumentoFormControl">
        @for (x of tiposDocumento(); track $index) {
        <mat-option [value]="x.idTipo">
          {{ x.descripcionCorta }}
        </mat-option>
        }
      </mat-select>
      <mat-error> Tipo de documento es requerido </mat-error>
    </mat-form-field>
    <div class="flex gap-2 w-full sm:flex-grow">
      <mat-form-field class="flex-grow">
        <input matInput [formControl]="numeroDocumentoFormControl" />
        <mat-error>
          @if (numeroDocumentoFormControl.hasError('required')) { Número de documento es requerido } @else if ( numeroDocumentoFormControl.hasError('pattern') ) { Documento debe tener solo números }
          @else if (tipoDocumentoFormControl.value === TIPO_DNI) { @if ( numeroDocumentoFormControl.hasError('minlength') || numeroDocumentoFormControl.hasError('maxlength') ) { Número de documento
          debe tener 8 dígitos } } @else { @if (numeroDocumentoFormControl.hasError('minlength')) { Número de documento debe tener al menos
          {{ numeroDocumentoFormControl.getError("minlength").requiredLength }}
          caracteres } @else if ( numeroDocumentoFormControl.hasError('maxlength') ) { Número de documento no puede tener más de
          {{ numeroDocumentoFormControl.getError("maxlength").requiredLength }}
          caracteres } }
        </mat-error>
      </mat-form-field>
      @if (permitirBuscar()) {
      <button mat-icon-button (click)="buscarPersona()" class="!bg-blue-800 hover:!bg-blue-700 mt-2">
        <mat-icon class="text-white">search</mat-icon>
      </button>
      }
    </div>
  </div>
</div>
