<div class="p-6 space-y-6 text-gray-800 dark:text-white/90">
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-semibold text-gray-800 dark:text-white/90">Insumos</h1>
  </div>

  <!-- Form -->

  <!-- List -->
  <div class="lg:col-span-2 bg-white rounded-2xl shadow p-4 space-y-3 dark:bg-gray-900">
    <div filtros class="text-gray-800 dark:text-white/90">
      <app-form-filter [formGroup]="filtroForm" [(filtros)]="filtros" [mostrarEstado]="false">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Buscador -->
          <div class="sm:col-span-2 md:col-span-1 flex flex-col">
            <label for="buscador" class="text-md font-medium mt-4 mb-1 text-gray-800 dark:text-white/90">Buscador</label>
            <div class="relative">
              <input
                id="buscador"
                type="text"
                placeholder="Buscar por código o nombre"
                formControlName="buscador"
                class="input pl-10"
                (keydown.enter)="aplicarFiltros()" />
              <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <!--   HeroIcon: magnifying-glass   -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 dark:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7 7 0 1010 17.65l4.35 4.35z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </app-form-filter>
    </div>
    <div class="overflow-auto">
      <app-form-list class="flex flex-col flex-auto p-4" etiquetaAgregar="Crear" (agregarClick)="crear()" nombreExcel="Clientes API Keys">
        <app-data-table [urlApi]="urlApi()" [parametrosApi]="filtros()">
          <app-columna-tabla titulo="ID" propiedad="id" />
          <app-columna-tabla titulo="Nombre" propiedad="nombre" />

          <app-columna-tabla titulo="Tipo" propiedad="tipo">
            <ng-template let-tipo="valor"> {{ tipo?.nombre }} </ng-template>
          </app-columna-tabla>

          <app-columna-tabla titulo="Unidad Compra" propiedad="unidadCompra">
            <ng-template let-unidadCompra="valor"> {{ unidadCompra?.nombre }} </ng-template>
          </app-columna-tabla>

          <app-columna-tabla titulo="Unidad Consumo" propiedad="unidadConsumo">
            <ng-template let-unidadConsumo="valor"> {{ unidadConsumo?.nombre }} </ng-template>
          </app-columna-tabla>

          <app-columna-tabla titulo="Factor" propiedad="factorConversion" />
          <app-columna-tabla titulo="Costo Unit." propiedad="costoUnitCompra" />

          <app-columna-tabla titulo="Activo" propiedad="activo">
            <ng-template let-activo="valor">
              <span class="px-2 py-1 rounded-full text-xs" [class.bg-green-100]="activo === true" [class.bg-gray-100]="activo === false"> {{ activo ? "SI" : "NO" }} </span>
            </ng-template>
          </app-columna-tabla>

          <app-columna-tabla titulo="Sede" propiedad="idSede" />

          <app-accion-tabla (accion)="editar($event.datos)" etiqueta="Editar" icono="edit" />
        </app-data-table>
      </app-form-list>
    </div>
  </div>
</div>


