<div class="flex flex-col gap-4" [ngClass]="class()">
  <div class="prime-form-actions">
    @if (permisoBotonExportar()) {
      <p-button
        type="button"
        label="Exportar XLS"
        icon="pi pi-download"
        severity="secondary"
        [outlined]="true"
        styleClass="w-full sm:w-auto"
        (onClick)="exportarExcel()"
      ></p-button>
    }
    @if (permisoBotonAgregar()) {
      <p-button
        type="button"
        [label]="etiquetaAgregar()"
        icon="pi pi-plus"
        styleClass="w-full sm:w-auto"
        (onClick)="agregarClick.emit()"
      ></p-button>
    }
  </div>

  <ng-content />
</div>
