<div class="bg-red-700 text-white flex justify-between items-center p-4">
  <h2 class="text-lg font-semibold">{{ data.titulo }}</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="text-white">
    <mat-icon class="text-white">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="px-6 py-2">
  <div class="flex flex-col">
    <div class="flex justify-center">
      @if (data.tipo === 'info') {
      <mat-icon class="text-blue-500 !text-8xl !w-24 !h-24">info</mat-icon>
      } @else if (data.tipo === 'error') {
      <mat-icon class="text-red-500 !text-8xl !w-24 !h-24">error</mat-icon>
      } @else if (data.tipo === 'warning') {
      <mat-icon class="text-yellow-500 !text-8xl !w-24 !h-24">warning</mat-icon>
      } @else if (data.tipo === 'question') {
      <mat-icon class="text-blue-500 !text-8xl !w-24 !h-24">help</mat-icon>
      } @else if (data.tipo === 'success') {
      <mat-icon class="text-green-500 !text-8xl !w-24 !h-24">check_circle</mat-icon>
      } @else {
      <mat-icon class="text-blue-500 !text-8xl !w-24 !h-24">{{ data.icono }}</mat-icon>
      }
    </div>
    <div [innerHTML]="data.mensaje"></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="!flex !justify-center !gap-2">
  @if (mostrarAceptar()) {
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>
    {{ textoAceptar() }}
  </button>
  } @if (mostrarNo()) {
  <button mat-raised-button mat-dialog-close>{{ textoNo() }}</button>
  } @if (mostrarCancelar()) {
  <button mat-raised-button mat-dialog-close>
    {{ textoCancelar() }}
  </button>
  }
</mat-dialog-actions>
