<form [formGroup]="formGroup()" class="flex flex-col">
  <ng-content />
</form>

@if (mostrarEstado()) {
  <div class="flex flex-col mt-3">
    <div class="font-medium">{{ tituloEstado() }}</div>
    <div class="flex gap-x-4 mt-2">
      <p-checkbox [formControl]="checkActivo" [binary]="true" (onChange)="checkChange(1)" [inputId]="'estado-activo'"></p-checkbox>
      <label for="estado-activo" class="prime-form-label mb-0">{{ etiquetaActivo() }}</label>
      <p-checkbox [formControl]="checkInactivo" [binary]="true" (onChange)="checkChange(2)" [inputId]="'estado-inactivo'"></p-checkbox>
      <label for="estado-inactivo" class="prime-form-label mb-0">{{ etiquetaInactivo() }}</label>
    </div>
  </div>
}

<div class="prime-form-actions mt-3 justify-center">
  <p-button
    type="button"
    label="Limpiar"
    icon="pi pi-eraser"
    severity="secondary"
    [outlined]="true"
    styleClass="w-full sm:w-auto"
    (onClick)="limpiarClick()"
  ></p-button>

  <p-button
    type="button"
    label="Buscar"
    icon="pi pi-search"
    styleClass="w-full sm:w-auto"
    (onClick)="buscarClick()"
  ></p-button>
</div>
